{%-  liquid 
     assign page_template = current_product.data["Product_Page_Template__c"] | default: blank
     assign total_donations = current_product.data['Funded_Amount__c'] | default: 0
     assign donation_target = current_product.data['Funding_Goal__c'] | default: 0

    if current_product.variant?
      assign page_template = current_product.master.data["Product_Page_Template__c"] | default: blank
    endif
-%}

{%- cache "product", items: [current_product, current_store, current_customer, current_cart] %}
  <div data-remote-target="product" class="sc-pos-relative">
    {%- render "shared/loader" %}
    {%- assign is_bundle = current_product.bundle_lead? | default: false %}

    <div>
      <div id="SC-product-{{ current_product.slug }}">
        {%- liquid 
            case page_template
              when blank
                render "products/views/product_display_compact", product: current_product, is_bundle: is_bundle
              when "landing_page"
                render "products/views/product_display_expanded", product: current_product, is_bundle: is_bundle
            endcase
        %}

        {%- if is_bundle %}
          <div data-bundle-anchor-variants></div>
        {%- else %}
          {%- render "products/product/progression_bar", total_donations: total_donations, donation_target: donation_target %}

          <div class="SC-ProductContentBlocks" id="SC-ProductContentBlocks">
            {%# Features %}
            {%- if current_product.features_content != blank %}
              <section class="SC-ProductFeatures sc-mb-spacious">
                <div class="sc-rich-text sc-mb">
                  <div>
                    {{ current_product.features_content }}
                  </div>
                </div>
              </section>
            {%- endif %}

            {%# Specifications %}
            {%- if current_product.specifications_content != blank %}
              <section class="SC-ProductSpecifications sc-container sc-mt-medium sc-mb-medium">
                <div class="sc-rich-text">
                  <div>
                    {{ current_product.specifications_content }}
                  </div>
                </div>
              </section>
            {%- endif %}

            {%# Warranty %}
            {%- if current_product.warranty_content != blank %}
              <section class="SC-ProductWarranty sc-container sc-mt-medium sc-mb-medium">
                <div class="sc-rich-text">
                  <div>
                    {%- render "products/product/warranty", product: current_product %}
                  </div>
                </div>
              </section>
            {%- endif %}

            {%# Downloads %}
            {%- if current_product.downloads_content != blank %}
              <section class="SC-ProductDownloads sc-container sc-mt-medium sc-mb-medium">
                <div class="sc-rich-text">
                  <div>
                    {%- render "products/product/downloads", product: current_product %}
                  </div>
                </div>
              </section>
            {%- endif %}
            
          </div>
        {%- endif %}

        {% render "products/product/json-ld", product: current_product %}

        {%# To do %}
        {% comment %}
        <style>
          .tns-controls { display: none; }
          .tns-outer [data-action] {display: none; }
        </style>
        {% endcomment %}

        {%# To do %}
        {% comment %}
        {% if current_product.data.fundraising_donations_json__c %}
          {% new List messages = current_product.data.fundraising_donations_json__c | unescape %}
          {% if messages.size > 0 %}
            <div class="sc-container">
              <style>
                .sc-name {
                  font-weight: 600;
                }
                .sc-message {
                  font-size: 24px;
                  font-style: italic;
                }
              </style>
              <div class="sc-cards sc-p-base" data-featured-slider="two">
                {% for message in messages %}
                  <div>
                    <div class="sc-shadow sc-p-base sc-border-radius">
                      <div class="sc-flex-col sc-gap-tiny" style="line-height: 1.5;">
                        <div class="sc-name">{{ message.Donator_Name__c | default: 'Anonymous' }}</div>
                        <div class="sc-message">{{ message.Donation_Message__c | default: '-' }}</div>
                        <div class="sc-amount">{{ message.TotalPrice }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endif %}
        {% endcomment %}

        {%# To do %}
        {%# Related products %}
        {%- if current_product.related_products.size > 0 %}
          <section class="sc-container">
            {% render "products/related_products", product: current_product %}
          </section>
        {%- endif %}
      </div>
    </div>
  </div>
{%- endcache %}

{%- render "shared/scripts/slider.js" %}

{%# To do %}
{%- if current_product.variants.size > 0 %}
  {%- require "scripts/product-donation-picker.js" %}
{%- else %}
  {%- require "scripts/donation-picker.js" %}
{%- endif %}
